@model LabDS.Models.Pacient

@{
    ViewBag.Title = "DeletePacient";
}

<h2>DeletePacient</h2>

<h3>Doni te fshihni kete pacient?</h3>
<div>
    <h4>Pacient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Fshij" class="btn btn-default" /> |
            @Html.ActionLink("Lista e pacienteve", "ListPacients")
        </div>
    }
</div>
