@model IEnumerable<LabDS.Models.PacientAnalysis>

@{
    ViewBag.Title = "ListAnalyzes";
}

<h2>Lista e Analizave</h2>

<p>
    @Html.ActionLink("Shto Analize", "AddAnalysis", new { id = Model.ElementAt(0).PacientId })
</p>
<table class="table">
    <tr>
        <th>
            Pacienti
        </th>
        <th>
            Emri i Analizes
        </th>
        <th>
            Lloji i Analizes
        </th>
        <th>
            Cmimi
        </th>
        <th>
            Data e kryerjes se analizes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pacient.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Modifiko", "EditAnalysis", new { id = item.Id }) |
            @Html.ActionLink("Detaje", "Details", new { id = item.Id }) |
            @Html.ActionLink("Fshij", "DeleteAnalysis", new { id = item.Id }) |
            @Html.ActionLink("Parameterat", "ListParameters", new { id = item.Id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Pacientet", "ListPacients")
</p>

