@model IEnumerable<LabDS.Models.Pacient>

@{
    ViewBag.Title = "Pacientet";
}

<h2>Pacientet</h2>

<p>
    @Html.ActionLink("Shto Pacient", "AddPacient")
</p>
<table class="table">
    <tr>
        <th>
            Emri
        </th>
        <th>
            Mbiemri
        </th>
        <th>
            Ditelindja
        </th>
        <th>
            Nr. i telefonit
        </th>
        <th>
            Gjinia
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Modifiko", "EditPacient", new { id=item.Id }) |
            @Html.ActionLink("Detaje", "DetailsPacient", new { id=item.Id }) |
            @Html.ActionLink("Fshij", "DeletePacient", new { id=item.Id }) |
            @Html.ActionLink("Analizat", "ListAnalyzes", new { id = item.Id })
        </td>
    </tr>
}

</table>
