@model LabDS.Models.Analysis

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Analysis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) 
</p>
<div>
    <p>
        @Html.ActionLink("Shto Parameter", "ModifyListParameters", new { id = Model.Id })
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Analysis
            </th>
            <th>
                Range
            </th>
            <th>
                Unit
            </th>
            <th>
                Value
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Parameters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Analysis.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Range)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditParameter", new { id = item.Id }) |
                    @Html.ActionLink("Details", "ParameterDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteParameter", new { id = item.Id })
                </td>
            </tr>
        }


    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
