@model IEnumerable<LabDS.Models.Analysis>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Shto Analize", "Insert")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
      
        <td>
            @Html.ActionLink("Modifiko", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detaje", "Details", new { id=item.Id }) |
            @Html.ActionLink("Fshij", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Parametrat", "ListParameters", new { id=item.Id })
        </td>
    </tr>
}

</table>
